# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data and model files
*.csv
*.pbix
*.avif
*.jpeg

# System files
.DS_Store
Thumbs.db
